:root {
--chart-background: #0c885f59;
--color-text: #1a3a23;
--color-primary: hsl(123, 38%, 71%);
--color-secondary: hsl(178, 41%, 33%);
--color-background: hsl(184, 52%, 79%);
--font-primary: 'Inter', sans-serif;
--font-secondary: 'Lato', sans-serif;
}